<div th:fragment="css">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

	<!--Awesome Font-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">

	<!--  Datetime picker -->
	<link rel="stylesheet"
		href="/css/bootstrap-datetimepicker.css" />
  
	<link rel="stylesheet" th:href="@{/css/general.css}" />

</div>