<div th:fragment="script">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

	<script 
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>



	<script
		src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

	<script src="https://unpkg.com/feather-icons"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>



	<script type="text/javascript"
		src="http://cdn.bootstrap-plugins.de/v1.1/bootstrap-plugins.min.js"></script>


	<script>
		//Feather icons
		feather.replace();

		$('#languagepicker').change(function() {
			var lang = $(this).val();
			console.log(lang);
			if (lang !== '') {
				window.location.replace('?lang=' + lang);
			}
		})
		
	</script>
</div>