<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../static/img/favicon.ico"
	th:href="@{/img/favicon.ico}">

<title th:text="#{signup.header}">Register</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<!-- Custom styles for this template -->
<!-- TODO access denied currently -->
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />

</head>

<body class="text-center">

	<form name="signup" th:action="@{/signup}" method="post"
		class="form-signin">
		<img class="mb-4" th:src="@{/img/logo.png}" alt="" width="72"
			height="72">
		<h1 class="h3 mb-3 font-weight-normal">
			<span th:text="#{signup.header}"></span>
		</h1>
		<div th:if="${error}" th:switch="${error}" class="alert alert-danger">
			<span th:case="passwordEmpty" th:text="#{signup.error.passwordEmpty}"></span>
			<span th:case="passwordsNotEqual"
				th:text="#{signup.error.passwordsNotEqual}"></span>
			<span th:case="emailAlreadyUsed"
				th:text="#{signup.error.emailAlreadyUsed}"></span>
			<span th:case="passwordEmpty" th:text="#{signup.error.passwordEmpty}"></span>
			<span th:case="undefined" th:text="#{signup.error.undefined}"></span>
			<div th:if="${error_code}">
				(
				<span th:text="${error_code}"></span>
				)
			</div>
		</div>
		<input type="email" id="email" name="email" class="form-control"
			placeholder="E-Mail" required autofocus>
		<input type="email" id="email2" name="email2" class="form-control"
			th:placeholder="#{signup.confirm.email}" onchange="checkMail(this)"
			required>
		<br>
		<input type="password" id="password" name="password"
			class="form-control " th:placeholder="#{signup.password}" required>
		<input type="password" id="password2" name="password2"
			class="form-control passwort-bottom"
			th:placeholder="#{signup.password.confirm}"
			onchange="checkPassword(this)" required>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			<span th:text="#{signup.submit}"></span>
		</button>
		<a class="nav-link" href="/login">
			<span th:text="#{home.login}"></span>
		</a>
		<p class="mt-5 mb-3 text-muted">&copy; Lia 2019</p>
	</form>


	<script>
		function checkMail(input) {
			if (input.value != document.getElementById('email').value) {
				input.setCustomValidity('E-Mails do not match.');
			} else {
				// input is valid -- reset the error message
				input.setCustomValidity('');
			}

		}

		function checkPassword(input) {
			if (input.value != document.getElementById('password').value) {
				input.setCustomValidity('Passwords do not match.');
			} else {
				// input is valid -- reset the error message
				input.setCustomValidity('');
			}

		}
	</script>
</body>
</html>